/**
 * @file
 * This file defines the page layout structure.
 */

#page {
  max-width: 1600px;
  margin: 0 auto;
}

/**
 * To change the width of a sidebar, just modify the corresponding values of this sidebar.
 * For example, If you want to change the width of the right sidebar to 250px, change the
 * value of each line commented "Right Sidebar width" to 250px.
 */

#section-footer {
  float: none;
  clear: both;
}

/* Layout Helpers */

#section-header,
#section-footer,
#section-main #content .mission,
#section-main #content .breadcrumb,
#section-main #content .node {
  clear: both;
}
@media only screen and (min-width: 480px) {

  .two-sidebars #sidebar-first {
    float: left;
    width: 49%;
  }

  .two-sidebars #sidebar-second {
    float: right;
    width: 49%;
  }

}
@media only screen and (min-width: 768px) {

  #content {
    float: left;
    width: 100%;
    margin-right: -100%;
    padding: 0;
  }

  .two-sidebars #content-inner {
    margin-right: 160px;  /* Right Sidebar width */
    margin-left: 160px;   /* Left Sidebar width */
  }

  .sidebar-second #content-inner {
    margin-right: 160px;  /* Right Sidebar width */
  }

  .sidebar-first #content-inner {
    margin-left: 160px;   /* Left Sidebar width */
  }

  #sidebar-first, .two-sidebars #sidebar-first {
    float: left;
    width: 160px;
    margin-right: -160px;
  }

  #sidebar-second, .two-sidebars #sidebar-second {
    float: right;
    width: 160px;
  }

}
@media only screen and (min-width: 960px) {

  .two-sidebars #content-inner {
    margin-right: 23%;  /* Right Sidebar width */
    margin-left: 23%;   /* Left Sidebar width */
  }

  .sidebar-second #content-inner {
    margin-right: 23%;  /* Right Sidebar width */
  }

  .sidebar-first #content-inner {
    margin-left: 23%;   /* Left Sidebar width */
  }

  #sidebar-first, .two-sidebars #sidebar-first {
    float: left;
    width: 20%;
    margin-right: -23%;
  }

  #sidebar-second, .two-sidebars #sidebar-second {
    float: right;
    width: 23%;
  }

}
