/**
 * @file
 * Primary appearance styling.
 */

/** Styling for page.tpl.php elements **/

body {
  color: #000;
  background: #fff;
}

#page {
  margin: 0;
}

#secondary-menu, #section-header, #section-navigation, #section-main, #section-footer {
  margin: 0 0.3125em;
}

#section-header {
  padding: 1.625em 0;
}

form#search-theme-form {
  float: right;
  margin: 0;
}

#edit-search-theme-form-1-wrapper label {
  display: none;
}

#site-name a {
  text-decoration: none;
}

#section-navigation {
  padding: 0.328em 0 0;
}

#content-inner {
  padding: 0 0 1.5em;
}

.region-sidebar-first {
  margin: 0 0 0.512em;
  padding: 0 0.512em 0.512em;
}

.region-sidebar-second {
  margin: 0 0 0.512em;
  padding: 0 0.512em 0.512em;
}

#section-footer {
  padding: 0 0 1.875em;
  text-align: center;
  font-size: 0.8em; /* 11.2px */
  line-height: 1.875em;
}

#section-footer a {
  color: #777;
}

/** Styling for blocks **/

/** Styling for nodes **/

.node .submitted {
  margin: 0 0 0.625em;
  font-style: italic;
}

div.field-label-inline {
  margin: 0 0 1.625em;
}

/* Format links section. */

.node .content .links {
  text-transform: uppercase;
  font-size: 0.8em; /* 11.2px */
  line-height: 1.875em;
}

.node .content .links li {
  padding: 0 0.382em 0 0;
}

.node .content .links a {
  padding: 0.134em 0.328em;
  text-decoration: none;
  color: #777;
  -moz-border-radius: 0.262em;
  border-radius: 0.262em;
  background: #ffa;
}

.node .content .links a:hover {
  text-decoration: underline;
  color: #555;
}

/** Media Queries **/
@media only screen and (min-width: 768px) {

  #content-inner {
    padding: 0 0.625em 1.5em;
  }
}
@media only screen and (min-width: 1200px) {

  #secondary-menu, #section-header, #section-navigation, #section-main, #section-footer {
    margin: 0 0.3125em;
  }
}
