/**
 * @file
 * Menu styling.
 */

/* Main Navigation */

ul#main-menu {
  margin: 0;
  padding: 0.6em 0;
  font-size: 1.25em; /* 17.500px */
  line-height: 1.2em;
}

ul#main-menu li.expanded,
ul#main-menu li {
  display: block;
  padding: 0.2em 0.4em;
  text-align: left;
}

ul#main-menu a {
  padding: 0.41em 0.512em;
  text-decoration: none;
}

/* Secondary Navigation */

ul#secondary-menu {
  float: right;
  padding: 0.25em 0; /* todo: test these values */
  line-height: 1.5em;
}

/* Sidebar Menus */

.sidebar ul.menu {
  margin: 0;
  text-align: center;
}

.sidebar ul.menu li {
  margin: 0;
}

.sidebar ul.menu a {
  font-weight: normal;
}

.sidebar ul.menu a.active {
  font-weight: bold;
}

.sidebar ul.menu a.active:hover {
  text-decoration: none;
}

.sidebar ul.menu .expanded,
.sidebar ul.menu .collapsed {
  list-style-type: none;
  list-style-image: none;
}

.sidebar ul.menu ul.menu {
  margin: 0 0 0 0.8em;
}

.sidebar ul.menu ul.menu ul.menu{
  margin: 0 0 0 0.8em;
}

.sidebar ul.menu li ul.menu li.last{
  padding: 0;
}

/* Apply specific formatting for a menu called "footer links" */

#block-menu-menu-footer-links ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

#block-menu-menu-footer-links ul li {
  display: inline;
  margin: 0;
  padding: 0 2px;
}

#block-menu-menu-footer-links a {
  text-decoration: underline;
  color: #444;
  font-size: 11px;
  font-weight: normal;
}
@media only screen and (min-width: 500px) {

  ul#main-menu > li {
    display: inline-block;
    text-align: center;
  }

}
@media only screen and (min-width: 768px) {

  .sidebar ul.menu {
    text-align: left;
  }
}

