/**
 * @file
 * This file contains overrides for print media.
 */

* {
  -ms-filter: none !important;
  filter: none !important;
  color: #000 !important; /* Black prints faster: sanbeiji.com/archives/953 */
  background: transparent;
  text-shadow: none !important;
}

/* Hide these elements */

#toolbar,
#header,
#block-workbench-block,
#section-navigation,
#search-block-form,
#section-footer,
#footer-wrapper,
#user-admin-account #edit-options,
.sidebar,
.breadcrumb,
.tabs,
.feed-icon
.links {
  display: none;
}

/**
 * Set typography for printing.
 */

body, button, caption, fieldset, input, legend, option, select, textarea, td, th {
  letter-spacing: normal;
  color: #222; /* Full black on white is too much contrast, #222 is a better default */
  font: 10pt "Times New Roman", Times, serif;
  line-height: normal;
}

/* Headings - sizes are set in media query section below */
/* For info on transitioning, see http://elliotjaystocks.com/blog/css-transitions-media-queries */

h1, h2, h3, h4, h5, h6 {
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  /* font-family: Palatino, 'Palatino Linotype', 'Book Antiqua', FreeSerif, Georgia, serif; */
  font-size: 1em;
  font-weight: bold;
}

/* Font size = 10pt, line height = normal, interval = minor third (1:1.2) */
/* http://modularscale.com/scale/?px1=10&px2=&ra1=1.2&ra2=0 */

h1 {
  margin: 0 0 1rem;
  color: #000;
  font-size: 20pt;
  line-height: normal;
}

h2 {
  margin: 0 0 1rem;
  color: #000;
  font-size: 18pt;
  line-height: normal;
}

h3 {
  margin: 0 0 1rem;
  color: #000;
  font-size: 14pt;
  line-height: normal;
}

h4 {
  margin: 0 0 1rem;
  color: #000;
  font-size: 12pt;
  line-height: normal;
}

h5 {
  color: #000;
}

h6 {
  color: #000;
}

small {
  margin: 0 0 1rem;
  font-size: 8pt;
  line-height: normal;
}

/* Add and/or remove tags as your baseline grid needs */

p, blockquote, q, pre, address, hr, code, samp, dl, ol, ul, form, table, fieldset, menu, h4, h5, h6, img, figure, figcaption, button {
  margin: 0 0 1rem;
}

a, a:link, a:visited {
  text-decoration: underline;
  color: #000;
}

abbr[title]:after {
  content: " (" attr(title) ")";
}

/* Printing Tables: css-discuss.incutio.com/wiki/Printing_Tables */

thead {
  display: table-header-group;
}

table, tbody, tr, img {
  page-break-inside: avoid;
}

p, h2, h3 {
  orphans: 3;
  widows: 3;
}

h2, h3 {
  page-break-after: avoid;
}

.field-label {
  page-break-after: avoid;
}

/**
 * Override styling for various page elements.
 */
@page
{
  size: auto;   /* auto is the initial value */
  /* this affects the margin in the printer settings */
  margin: 0.5in 0.5in 0.5in 0.5in;
}

body {
  padding-top: 0 !important; /* overrides inline style set by toolbars, which we want to hide. */
}

#page {
  width: 100%;
}

.header-container, #section-main, .region-fatfooter, .region-footer, .region-billboard, .region-navigation {
  max-width: 100%; /* Override max width set for responsive design and let @page{} control this instead. */
}

#section-header {
  margin: 0;
  padding: 0;
  background-color: transparent;
}

a.hfcc-home {
  display: block;
  float: left;
  overflow: hidden;
  width: 250px;
  height: 0;
  margin: 0 auto;
  padding: 72px 0 0;
  background: url("../images/hfcc-logo-black.png") no-repeat -24px 0;
}

#name-and-slogan {
  padding: 0;
  text-align: right;
}

h1#site-name {
  font-size: 24pt;
}

#content,
#content #content-inner,
.content,
.title {
  width: auto;
  margin: 0 0 1.5rem;
}
