/**
 * @file
 * View styling.
 */

/** Styling for views **/

/* Date fix for month calendar views. */

.calendar-calendar div.day {
  width: 2em;
}

/**
 * Overrides for Views Grid display.
 *
 * Based on a hack by Jen Simmons to render views grids as unordered lists.
 * See https://gist.github.com/2295479 and ../templates/views-view-grid.tpl.php
 *
 */

ul.views-view-grid {
  padding-left: 0;
  list-style: none;
  list-style-image: none;
}

ul.views-view-grid li {
  margin: 0;
  padding: 0 0 0.625em;
}
@media only screen and (min-width: 768px) {
  /* Overrides for Views Grid display. */

  ul.views-view-grid li {
    float: left;
    padding: 0 0.3125em 0.625em;
  }

  ul.views-view-grid li.col-first {
    clear: left;
    padding-left: 0;
  }

  ul.views-view-grid li.col-last {
    padding-right: 0;
  }

  .view ul.cols-2 li {
    width: 50%;
  }

  .view ul.cols-3 li {
    width: 33.3333%;
  }

  .view ul.cols-4 li {
    width: 25%;
  }

  .view ul.cols-5 li {
    width: 20%;
  }

  .view ul.cols-6 li {
    width: 16.6666%;
  }

  .view ul.cols-7 li {
    width: 14.2857%;
  }

  .view ul.cols-8 li {
    width: 12.5%;
  }

  .view ul.cols-9 li {
    width: 11.1111%;
  }

  .view ul.cols-10 li {
    width: 10%;
  }
}
